/* ChatBox.css */

.chatbox-container {
  display: flex;
  height: 100vh;
  width: 100%; /* Adjust the height as needed */
  max-height: 100vh;
  background-color: #d3e0e2;
}

.side-nav-left {
  flex: 1;
  /* Adjust the background color as needed */
  /* padding: 20px; */
}

.chat-container {
  display: flex;
  flex-direction: column;

  padding: 5px;
  box-sizing: border-box;
  overflow-y: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  /* Set a max-height for the chat container */
  margin: 20px;

  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
.chat-icon-container {
  text-align: center;
  margin-top: 20px;
}

.chat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-history {
  height: 400px; /* Adjust the height as needed */
  overflow-y: scroll;
  padding: 20px;
  background-color: #f3efef;
}

.message {
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
}
.user {
  background-color: #28a0b0;
  max-width: 80%;
  width: fit-content;
  display: flex;
  margin-left: auto;
}

.bot {
  background-color: #c8e6c9;
}

.chat-input {
  display: flex;
  padding: 15px;
  background-color: #f5f5f5;
}

.assistant {
  background-color: #f5f5f5;
  color: #666;
  width: fit-content;
  max-width: 80%;
}
input {
  flex: 1;
  padding: 12px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  height: 90%;
}

.send-button {
  padding: 12px;
  cursor: pointer;

  color: #181717;
  border: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.send-button:hover {
  background-color: #88deef;
  transform: scale(1.1);
}

.app-container {
  display: flex;
  width: 100%;
}

.message.system {
  color: #666;
}

.chat-icon-container {
  text-align: center;
  margin-top: 20px;
}

.chat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add any additional styling as needed */
