.active {
  color: #1d4ed8; /* Set the active text color */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(10, 193, 244) 0%,
    rgb(133, 204, 224) 25%,
    rgb(73, 123, 137) 51%,
    rgb(10, 167, 235) 100%
  );
  -webkit-animation: AnimateBG 15s ease infinite;
  animation: AnimateBG 15s ease infinite;
  color: white;
  position: sticky;
  top: 0;
  width: 99%;

  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
  justify-content: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

nav ul li a:not(.active):hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Set animation properties */
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
nav ul li a.activeLink {
  background-color: #cdd4e8;
  /* Add any other styles you want for the active link */
}
